
.menu {
    font-size: 1px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 0 20px 20px 20px; /* Убираем отступ сверху, оставляем отступы справа, слева и снизу */
    max-height: 100%; /* Ограничиваем максимальную высоту до высоты окна браузера */
    overflow-y: auto; /* Включаем вертикальную прокрутку */
    width: 300px; /* Левое меню фиксированной ширины */
    background-color: #f4f4f4;
    border-right: 1px solid #ddd;
    box-sizing: border-box; /* Включаем отступы в расчет размера */
    height: calc(100% - 40px);
}

.menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu li {
    position: relative; /* Устанавливаем относительное позиционирование */
    transition: transform 0.8s ease; /* Добавляем плавный переход */
    margin: 0px;
    cursor: pointer;
    font-size: 16px;
    padding: 9px;
    border-radius: 4px;
}

    .menu li:hover {
        background-color: #f0f0f0;
        transform: translateX(10px); /* Сдвиг вправо на 10px при наведении */
    }

.content {
    font-family: 'StadioNow', sans-serif;
    flex-grow: 1;
    padding: 0px;
    width: 100%;
    margin-top: 0;
    background-color: #fff;
    box-sizing: border-box;
    overflow-y: auto;
    height: calc(100% - 40px);
}