@font-face {
    font-family: 'StadioNow';
    src: url('./fonts/StadioNowItalicVariableGX.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
::-webkit-scrollbar {
    display: none; /* Убирает прокрутку для браузеров на базе WebKit */
}

@font-face {
    font-family: 'StadioNowItalic';
    src: url('./fonts/StadioNowVariableGX.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

/* Применение шрифта ко всему проекту */
body, html {
    font-family: 'StadioNow', sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background-color: #f0efeb;
    color: #0b132b;
    overflow: hidden; /* Отключаем прокрутку */
}
