/* Основная сетка страницы */
.new-order-page-NewOrderPage {
    display: grid;
    grid-template-columns: 430px 1fr; /* Левая колонка и контент */
    grid-template-rows: auto 1fr; /* Категории и контент */
    gap: 20px;
    height: calc(100vh - 70px);
    padding: 20px;
    background-color: #ffffff;
    box-sizing: border-box;
}

#create-button.create-button-NewOrderPage {
    text-decoration: none;
    color: #0b132b;
    display: inline-block;
    position: relative;
    padding: 15px 30px;
    border: 1px solid;
    border-image: linear-gradient(1800deg, #dfe7fd, #91a7ff);
    border-image-slice: 1;
    margin: 10px 20px;
    background-color: #dfe7fd;
    overflow: hidden;
    letter-spacing: 2px;
    transition: .8s cubic-bezier(.165, .84, .44, 1);
    z-index: 1;
}

    #create-button.create-button-NewOrderPage:before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        height: 0;
        width: 100%;
        z-index: -1;
        background: linear-gradient(1800deg, #dfe7fd, #91a7ff);
        transition: .8s cubic-bezier(.165, .84, .44, 1);
    }

    #create-button.create-button-NewOrderPage:hover {
        background: rgba(255, 255, 255, 0);
    }

        #create-button.create-button-NewOrderPage:hover:before {
            bottom: 0%;
            top: auto;
            height: 100%;
        }

/* Левый столбец */
.left-column-NewOrderPage {
    grid-row: 1 / span 2; /* Левая колонка занимает всю высоту */
    grid-column: 1; /* Левый столбец на первой колонке */
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    overflow-y: auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0px;
}

.left-column-top-NewOrderPage {
    margin-bottom: 20px;
}

.menu-list-left-NewOrderPage {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 10px;
}

    .menu-list-left-NewOrderPage li {
        flex: 1;
    }

    .menu-list-left-NewOrderPage button {
        text-decoration: none;
        color: white;
        display: inline-block;
        position: relative;
        padding: 15px 30px;
        border: 1px solid;
        border-image: linear-gradient(1800deg, #dfe7fd, #91a7ff);
        border-image-slice: 1;
        margin: 10px 20px;
        background-color: #dfe7fd;
        overflow: hidden;
        letter-spacing: 2px;
        transition: .8s cubic-bezier(.165, .84, .44, 1);
        z-index: 1;
    }

        .menu-list-left-NewOrderPage button:hover {
            text-decoration: none;
            color: white;
            display: inline-block;
            position: relative;
            padding: 15px 30px;
            border: 1px solid;
            border-image: linear-gradient(1800deg, #dfe7fd, #91a7ff);
            border-image-slice: 1;
            margin: 10px 20px;
            background-color: #dfe7fd;
            overflow: hidden;
            letter-spacing: 2px;
            transition: .8s cubic-bezier(.165, .84, .44, 1);
            z-index: 1;
        }

.left-column-center-NewOrderPage {
    flex-grow: 1;
    overflow-y: auto;
    margin-bottom: 0px;
    padding-top: 0px;
    padding-bottom: 15px;
    font-size: 10px; /* Уменьшенный размер шрифта */
    line-height: 1.4; /* Уменьшенный межстрочный интервал */
    color: #555; /* Более мягкий цвет текста */
}

.left-column-bottom-NewOrderPage {
    padding: 15px;
    text-align: center;
    padding-bottom: 0px;
    padding-right: 0px;
    padding-left: 0px;
    height: 80px;
}

.active-tab-NewOrderPage {
    margin: 0px 0px 0px 0px;
}
/* Таблица заказа */
.order-table-NewOrderPage {
    text-align: left;
    margin-top: 0px;
}

    .order-table-NewOrderPage th,
    .order-table-NewOrderPage td {
        padding: 0px;
        text-align: center;
        font-size: 11px;
    }

    .order-table-NewOrderPage th {
        font-size: 11px;
        padding: 0px;
    }

    .order-table-NewOrderPage td {
        padding: 0px;
    }

    .order-table-NewOrderPage tr {
        font-size: 11px;
        padding: 0px;
        padding: 10px;
    }
/* Элементы управления количеством */
.quantity-controls-NewOrderPage {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

textarea, select, input[type="text2"] {
    width: 100%;
    padding: 0px;
    color: #0b132b;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    box-sizing: border-box;
}

.quantity-controls-NewOrderPage button {
    color: #007BFF; /* Устанавливаем цвет текста */
    border-radius: 3px; /* Скругленные края */
    margin: 0px 0px;
    height: 15px; /* Высота кнопки */
    cursor: pointer;
    font-size: 12px; /* Меньший размер шрифта */
    text-align: center;
    line-height: 1.2; /* Уменьшаем межстрочный интервал */
    padding: 0; /* Убираем отступы */
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease, color 0.3s ease;
}

    .quantity-controls-NewOrderPage button:hover {
        background-color: #91a7ff; /* Добавляем заливку при наведении */
        color: white; /* Цвет текста становится белым */
    }

.quantity-controls-NewOrderPage input {
    width: 40px;
    text-align: center;
    border-radius: 4px;
}

/* Центр и правая колонка */
.center-column-NewOrderPage {
    grid-column: 2; /* Категории справа от левой колонки */
    grid-row: 1; /* В отдельной строке */
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    overflow-y: auto;
    padding: 5px 10px;
    box-sizing: border-box;
    height: auto;
}

.menu-list-NewOrderPage {
    display: flex; /* Изменяем на flex для отображения в строку */
    flex-wrap: nowrap; /* Категории без переноса */
    list-style: none; /* Убираем маркеры списка */
    padding: 0;
    gap: 10px; /* Расстояние между категориями */
    margin: 0;
    justify-content: flex-start; /* Выравнивание категорий в начале */
    align-items: center; /* Центрируем по вертикали */
    overflow-x: auto; /* Горизонтальная прокрутка при переполнении */
    white-space: nowrap;
    scrollbar-width: none; /* Скрываем полосу прокрутки */
    -ms-overflow-style: none; /* Для IE и Edge */
}

    .menu-list-NewOrderPage::-webkit-scrollbar {
        display: none; /* Убираем полосу прокрутки */
    }

    .menu-list-NewOrderPage li {
        flex: 0 1 auto; /* Категория занимает свою минимальную ширину */
    }

    .menu-list-NewOrderPage button {
        padding: 10px 15px; /* Устанавливаем отступы для кнопок */
        border: 1px solid #ccc;
        border-radius: 5px;
        background-color: #dfe7fd;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }

        .menu-list-NewOrderPage button:hover {
            background-color: #91a7ff; /* Цвет при наведении */
        }

.product-list-NewOrderPage {
    grid-column: 2; /* Товары начинаются от второй колонки */
    grid-row: 2; /* Вторая строка */
    display: flex;
    flex-wrap: wrap; /* Перенос элементов на следующую строку */
    gap: 10px; /* Установить расстояние между элементами */
    justify-content: flex-start;
    align-items: flex-start; /* Выравнивание по верхнему краю */
    margin: 0; /* Убираем дополнительные отступы */
    padding: 0; /* Убираем внутренние отступы */
    height: auto; /* Автовысота */
    max-height: calc(100vh - 200px); /* Ограничиваем высоту относительно высоты окна */
    overflow-y: auto; /* Включаем вертикальную прокрутку */
    box-sizing: border-box; /* Учитываем padding и border в расчете размеров */
}

    .product-list-NewOrderPage::-webkit-scrollbar {
        width: 6px; /* Ширина полосы прокрутки */
    }

    .product-list-NewOrderPage::-webkit-scrollbar-thumb {
        background-color: rgba(0, 0, 0, 0.3); /* Цвет полосы прокрутки */
        border-radius: 3px; /* Скругленные углы */
    }

        .product-list-NewOrderPage::-webkit-scrollbar-thumb:hover {
            background-color: rgba(0, 0, 0, 0.5); /* Цвет полосы при наведении */
        }

.product-item-NewOrderPage {
    width: 100px; /* Установите размер квадрата */
    height: auto;
    background-color: #dfe7fd; /* Светлый фон */
    border-radius: 10px; /* Скругленные углы */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Добавьте тень */
    display: flex;
    flex-direction: column; /* Установите направление содержимого */
    align-items: center; /* Центрирование содержимого */
    justify-content: center; /* Центрирование содержимого */
    cursor: pointer; /* Указатель при наведении */
    margin: 0px; /* Отступы между квадратами */
    transition: transform 0.2s ease, background-color 0.3s ease; /* Анимация */
    flex: 0 1 calc(25% - 10px); /* 4 товара в строке с учетом отступов */
    box-sizing: border-box; /* Учитываем padding и border в размерах элемента */
    max-width: calc(25% - 10px); /* Максимальная ширина каждого элемента */   
    align-self: flex-start; /* Выравниваем каждый элемент по верхнему краю */
    text-align: left; /* Выравниваем текст внутри элемента по левому краю */
    white-space: nowrap; /* Запрещаем перенос строк */
    overflow: hidden; /* Скрываем содержимое, выходящее за границы */
    text-overflow: ellipsis; /* Добавляем многоточие, если текст не помещается */
    padding: 10px; /* Внутренний отступ для эстетики */
    word-wrap: break-word; /* Для переноса длинных слов (если отключить nowrap) */
}

    .product-item-NewOrderPage:hover {
        background-color: #91a7ff; /* Цвет при наведении */
        color: white; /* Белый текст */
        transform: scale(1.05); /* Увеличение при наведении */
    }

/* Выпадающее меню */
.payment-dropdown-NewOrderPage {
    position: relative;
    display: inline-block;
    text-align: left;
}

.dropdown-button-NewOrderPage {
    padding: 5px 10px;
    background-color: #dfe7fd;
    color: #0b132b;
    border: none;
    border-radius: 3px;
    font-size: 12px;
    cursor: pointer;
    text-align: left;
}
    .dropdown-button-NewOrderPage:hover {
        background-color: #91a7ff; /* Цвет при наведении */
        color: #0b132b; /* Белый текст */
        transform: scale(1.05); /* Увеличение при наведении */
    }

.dropdown-content-NewOrderPage {
    position: absolute;
    top: -100%; /* Открытие вверх */
    left: 0;
    min-width: 120px;
    background-color: white;
    border-radius: 3px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    max-height: 100px;
    overflow-y: auto;
    animation: fadeIn 0.3s ease;
}

.dropdown-item-NewOrderPage {
    padding: 5px 10px;
    font-size: 12px;
    color: #333;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

    .dropdown-item-NewOrderPage:hover {
        background-color: #f4f4f4;
    }

/* Кнопки */
button {
    text-decoration: none;
    color: #0b132b;
    display: inline-block;
    position: relative;
    padding: 5px 5px;
    border: 1px solid;
    border-image: linear-gradient(1800deg, #dfe7fd, #91a7ff);
    border-image-slice: 1;
    margin: 1px 5px;
    background-color: #dfe7fd;
    overflow: hidden;
    letter-spacing: 2px;
    transition: .8s cubic-bezier(.165, .84, .44, .1);
    z-index: 1;
}

button-NewOrderPage:hover {
    background-color: #45a049;
}
.left-column-buttons-NewOrderPage {
    padding: 0px 0px 0px 10px;
}
.form-group-NewOrderPage {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

    .form-group-NewOrderPage label {
        font-size: 11px; /* Уменьшенный шрифт для подписи */
        font-weight: bold;
        color: #555;
    }

    .form-group-NewOrderPage input {
        padding: 8px;
        font-size: 14px; /* Уменьшенный размер текста */

        border-radius: 5px;
        box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
        transition: border-color 0.3s ease, box-shadow 0.3s ease;
    }

        .form-group-NewOrderPage input:focus {
            border-color: #4CAF50;
            box-shadow: 0 0 5px rgba(76, 175, 80, 0.5);
            outline: none;
        }
.payment-option-NewOrderPage {
    display: flex;
    justify-content: space-between; /* Разделяет кнопки по краям */
    align-items: center; /* Выравнивает кнопки по вертикали */
    margin: 0px; /* Отступы сверху и снизу */
}

/* Стили для payment-dropdown-NewOrderPage */
.payment-dropdown-NewOrderPage {
    margin: 0; /* Убираем дополнительные отступы */
}

/* Стили для create-button-NewOrderPage */
#create-button.create-button-NewOrderPage {
    margin: 0; /* Убираем отступы для более точного выравнивания */
}
                                                        /* Адаптивность */
/* Адаптация для планшетов (ширина <= 1024px) */
@media (max-width: 1024px) {
    .menu-list-NewOrderPage {
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)); /* Категории автоматически подстраиваются */
        justify-content: center; /* Центрируем элементы */
    }

        .menu-list-NewOrderPage button {
            font-size: 12px;
            padding: 8px;
        }
}

/* Адаптация для мобильных устройств (ширина <= 768px) */
@media (max-width: 768px) {
    .menu-list-NewOrderPage {
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr)); /* Подгоняем ширину под мобильные устройства */
        justify-content: center;
    }

        .menu-list-NewOrderPage button {
            font-size: 12px;
            padding: 6px;
        }
}

/* Адаптация для телефонов (ширина <= 480px) */
@media (max-width: 480px) {
    .menu-list-NewOrderPage {
        grid-template-columns: repeat(auto-fit, minmax(80px, 1fr)); /* Минимальная ширина кнопок */
        justify-content: center;
    }

        .menu-list-NewOrderPage button {
            font-size: 10px;
            padding: 5px;
        }
}
